.goal-item {
  margin: 1rem 0;
  background: #a54e92;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-item button {
  color: white;
  background-color: rgb(218, 29, 29);
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 700;
}

.goal-item button:hover,
.goal-item button:active {
  background-color: white;
  color: rgb(218, 29, 29);
}
